* {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
}

/* header section */
/* nav section */
header .nav-section {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-section .nav-image img {
    width: 12rem;
}

header .nav-section .nav-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #fff;
    gap: 1.5rem;
}

header .nav-section .nav-items ul li span {
    color: #E42E6F;
}

header .nav-section .nav-items ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

header .nav-section .btn-sign {
    width: 7rem;
    height: 3rem;
    background: white;
    border: 2px solid rgb(255, 117, 169);
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in;
}

header .nav-section .btn-sign:hover {
    background: #E42E6F;
}
/* nav section */

/* header main image */
header .h-main-image {
    margin-top: 1rem;
    position: relative;
    background-image: url('./assets/header-cake.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 631px; 
}

header .h-main-image h1 {
    position: absolute;
    margin-top: 11rem;
    margin-left: 11rem;
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    font-weight: 400;
    color: rgb(154, 2, 7);
}

header .h-main-image p {
    position: absolute;
    margin-top: 16.5rem;
    margin-left: 11rem;
    font-size: 2rem;
    font-family: "Hanuman", serif;
    font-weight: bolder;
    letter-spacing: 0.7rem;
}
/* header main image */

/* header final boxes */
header .box-container {
    display: flex;
    justify-content: center;
}

header .box-container .h-f-main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.4rem;
    height: 30.5rem;
    background: #fff;
    transform: translateY(-5%);
}

header .box-container .h-f-main-box .h-f-auxiliary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55.125rem;
    height: 29.125rem;
    background: #E42E6F;
}

header .box-container .h-f-main-box .h-f-auxiliary-box h1 {
    margin-top: 4rem;
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}

header .box-container .h-f-main-box .h-f-auxiliary-box p {
    position: relative;
    margin-top: 1rem;
    width: 70%;
    text-align: center;
    font-family: "Hanuman", serif;
    font-weight: 700;
    color: #fff;
    z-index: 10;
}

header .box-container .h-f-main-box .h-f-auxiliary-box .h-f-sub-image {
    position: relative;
}

header .box-container .h-f-main-box .h-f-auxiliary-box .h-f-sub-image .blue-cream {
    position: relative;
    margin-top: -1rem;
}

header .box-container .h-f-main-box .h-f-auxiliary-box .h-f-sub-image .h-a-n-page {
    position: absolute;
    top: 11%;
    left: 46%;
}
/* header final boxes */
/* header section */


/* main section */
/* first section */
main h1 {
    margin-top: 2rem;
    text-align: center;
    font-family: "Hanuman", serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #424141;
}

main hr {
    width: 70%;
    border: 2px solid #424141;
    margin: 0 auto;
}

/* three deserts image */
main .section-1-3-cakes-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}
/* three deserts image */

/* three deserts head */
main .section-1-3-cakes-head {
    display: flex;
    justify-content: center;
    gap: 8rem;
    font-size: 1.75rem;
}

main .section-1-3-cakes-head .head-1 h3 {
    padding-left: 0.5rem;
}

main .section-1-3-cakes-head .head-2 h3 {
    padding-left: 0.5rem;
    transform: translateX(3%);
}
/* three deserts head */

/* three deserts para */
main .section-1-3-cakes-para {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-1-3-cakes-para .para-1, main .section-1-3-cakes-para .para-2, main .section-1-3-cakes-para .para-3 {
    display: flex;
    justify-content: center;
}

main .section-1-3-cakes-para .para-1 p {
    width: 40%;
    text-align: center;
    font-family: "Great Vibes", cursive;
    transform: translateX(64%);
}

main .section-1-3-cakes-para .para-2 p {
    width: 40%;
    text-align: center;
    font-family: "Great Vibes", cursive;
    transform: translateX(9%);
}

main .section-1-3-cakes-para .para-3 p {
    width: 40%;
    text-align: center;
    font-family: "Great Vibes", cursive;
    transform: translateX(-59%);
}
/* three deserts para */

/* three deserts read more */
main .section-1-3-read-more {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 19.6rem;
}

main .section-1-3-read-more .read-1 p,
main .section-1-3-read-more .read-2 p,
main .section-1-3-read-more .read-3 p {
    cursor: pointer;
    color: #E42E6F;
    font-weight: 700;
    transition: 0.2s ease-in;
}

main .section-1-3-read-more .read-1 p:hover,
main .section-1-3-read-more .read-2 p:hover,
main .section-1-3-read-more .read-3 p:hover {
    color: #000;
}

main .section-1-3-read-more .read-2 p {
    transform: translateX(4%);
}

main .section-1-3-read-more .read-3 p {
    transform: translateX(-18%);
}
/* three deserts read more */
/* first section */

/* second section */
.second-section {
    padding-top: 13rem;
}

.decoration-cakes {
    padding-top: 3.125rem;
    position: relative;
    margin-top: 1rem;
    position: relative;
    background-image: url('./assets/deco-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 41rem;
}

.second-section .four-cakes {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.four-cakes .same-deco-cake {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-cakes .same-deco-cake h3 {
    margin-top: 1rem;
}

.four-cakes .same-deco-cake .strike-price {
    display: flex;
    gap: 1rem;
}
/* second section */
/* main section */